<div id="nav">
    <a class="link" href="/">Home</a>
    <a class="link" href="/create">Creating</a>
    <a class="link" href="/receive">Receiving</a>
    <a class="link" href="/ship">Shipping</a>
    <a class="link" href="/list">Listing</a>
    <a class="link" href="/remove">Removing</a>

</div>