<!DOCTYPE html>
<html>
<head>
    <title>Ship</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="mainGrid">
    <div class="headerGrid">
        <%- include('partials/header'); -%>
    </div>
    <div class="navGrid">
        <%- include('partials/nav'); -%>
    </div>
    <div class="workstation">
        inventory management system
        ship
    </div>

</div>
</body>
</html>