body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}
#header {
  display: flex;
  flex-direction: row;
  background: gray;
}
#nav {
  display: flex;
  flex-direction: column;
  background: gray;
  height: 100%;
align-items: center;
}
#logo {
  height: 100px;
  width: 100px;
}
#listContainer {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;

  padding: 1rem;
  align-content: flex-start;
}
#count {
  width: 300px;
}
.mainGrid {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 100px 100%;
  grid-template-rows: 100px 100vh;
}
.headerGrid {
  grid-column-start: 1;
  grid-column-end: 3;
}
.navGrid {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  border: black solid 1px;
}
.workstation {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: lightgray;
  height: 100%;
}
.listing{
  border: black solid 1px;
  padding-left: 15px;
}
.cardItemImage {
  border: 3px solid black;
  width: 95px;
  height: 95px;
}
.itemCard {
  background: gray;
  border: black solid 2px;
  border-radius: 3px;
  margin: 2px;
  text-align: center;
}
.link {
  color: black;
}
